# Byte-compiled / optimized / DLL files
__pycache__/

# Mac OS
.DS_Store
.env

# VSCode
.vscode/
*.code-workspace

# Data
# data/
# static/data/
restaurants_simulated_france.parquet

# Testing
.pytest_cache/

# Logs
*.log

# Other
_archives/
modules_azure/
notebooks/
env/
pipeline.md
notes.md
drivers/
bigquery_credentials_procedure.md
sotisai-immo-v2-469d03596896.json
#.env # Let's keep it for this project